.side-bar{
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    border-right: 2px white solid ;
    
}
.pfl-pi{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.nm{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 20px;
    border-bottom: 3px solid white;
    cursor: pointer;
}
.nm-msg{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
.side-bar{
   width: 100vh;
}
.hide-side-bar{
    display: none;
}
.Chat-feed{
    display: flex !important;
}
}